<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Blood Alcohol Content Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Blood Alcohol Content Calculator</h1>
<form action="#" th:action="@{/form}" th:object="${inputVariables}" method="post">
    <tr>
        <td>Gender:</td>
        <td><select name="gender">
            <option th:each="gender : ${genderList}" th:text="${gender}" />
        </select>
    </tr>
    <p>Weight in kilograms: <input type="text" th:field="*{weight}" /></p>
    <p>Number of standard drinks consumed: <input type="text" th:field="*{standardDrinks}" /></p>
    <p>Number of hours since drinking commenced: <input type="text" th:field="*{hoursDrinking}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>